<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CustomConfigurationSection" type="Nexus.GameFramework.CustomConfigurationSection, Nexus.GameFramework, Version=1.0.0.35713, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <CustomConfigurationSection>
    <EditorEngineSetting ActorEdClassAssembly="NexusEditor" ActorEditorClass="NexusEditor.NActorEditor" />
    <EngineSettings ClientWidth="1024" ClientHeight="768" ColorBits="32" FullScreen="false" EnableHDR="false" RenderClass="nrenderer_d3d9" FileSystemClass="nstd_file_system" EngineDataPkg="engine_data" />
  </CustomConfigurationSection>
  <appSettings>
    <add key="Localization" value="zh-CHS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>