<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomConfigurationSection" type="Nexus.GameFramework.CustomConfigurationSection, Nexus.GameFramework, Version=1.0.0.35713, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <CustomConfigurationSection>
    <EngineSettings ClientWidth="1440" ClientHeight="900" ColorBits="32" FullScreen="false" EnableHDR="false" RenderClass="nrenderer_d3d9" FileSystemClass="nstd_file_system" EngineDataPkg="engine_data" />
    <GameSettings DefaultLevelLoad="game_data:/level" />
  </CustomConfigurationSection>
  <appSettings>
    <add key="Localization" value="zh-CHS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>